In [ ]:
print("hello world")

hello world

W2A2

In [10]:
user_name = input("Chao cau, cau ten gi the ")

current_age_str = input("Song bao nhieu nam r ")
current_age = int(current_age_str)


age_next_year = current_age + 1

print(f"Chao cau {user_name}, nam sau la {age_next_year} nam cau song!")

Chao cau, cau ten gi the hehe
Song bao nhieu nam r 12
Chao cau hehe, nam sau la 13 nam cau song!

W2A10

In [18]:
name1 = input("what is your name? ")
name2 = input("name2 ")
name3 = input("name3 ")
print(name3 , name2 , name1)

what is your name? a
name2 b
name3 c
c b a

W2A16

In [20]:
print("Spring\nSummer\nAutunm\nWinter")

Spring
Summer
Autunm
Winter

W2A17

In [22]:
print("*\n***\n*****")

*
***
*****

In [ ]:
line=

W2A18

In [26]:
print("### # #  ### ###\n #  #  #  #  # \n #  #   # #  # \n #  #  #  #  # \n #  ##    #  # ")

### # #  ### ###
 #  #  #  #  #
 #  #   # #  #
 #  #  #  #  #
 #  ##    #  #

W2A19

In [28]:
print("Monday\nTuesday\nWednesday\nThursday\nSaturday\nSunday")

Monday
Tuesday
Wednesday
Thursday
Saturday
Sunday

W2A20

In [30]:
print("Janury\nFebruary\nMarch\nApril\nMay\nJune\nJuly\nAugust\nSeptember")

Janury
february
March
April
May
June
July
August
September

W2A21

In [27]:
for i in range(10):
  print("Hello world!")

Hello world!
Hello world!
Hello world!
Hello world!
Hello world!
Hello world!
Hello world!
Hello world!
Hello world!
Hello world!